@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 240px) and (max-width: 480px) {
	.footer_second h1{
		margin-top:17px;
	}
	
	.refer_friend {
    width: 100%;
    float: left;
    background: transparent url("images/refer-banner.jpg") no-repeat scroll center top;
    height: 174px;
    background-size: 192%;
}
.avilable_job_inner p{
	font-size:11px;
}
.refer_form_main_left {
    width: 100%;
    float: left;
}
.refer_form_main_left_upper input[type="text"]{
	width:97%;
}
.input_box {
    float: left;
    width: 100%;
}
.input{
	margin-left:0px;
	width:97% !important;
}
	
	
	.why_veron_mid_first_box {
    width: 100%;
    float: left;
	margin-bottom:20px;
    margin-left: 0px;
}
.why_veron_mid_first_box p{
	font-size:17px;
}
.why_veron_mid_first_box:last-child {
    width: 100%;
    margin-left: 0px;
}.why_veron_banner {
    width: 100%;
    float: left;
    background: transparent url("images/why-veron-banner.jpg") no-repeat scroll center top;
    height: 164px;
    background-size: 205%;
}
.text{
	font-size:12px;
}
.benifits_left {
    width: 100%;
    float: left;
}
.benifits_left_first_upper h2{
	font-size:13px;
}
.benifits_left_first p{
	font-size:12px;
}
	
	
	
	
	.hospital_banner {
    width: 100%;
    float: left;
    background: transparent url("images/hospital-banner.jpg") no-repeat scroll center top;
    height: 175px;
    background-size: 225%;
}
.hospital_inner_box{
	margin-top:0px;
	
}
.hospital_inner_box_upper ul li{
	width:87%;
}
.hospital_inner_box_second p {
    float: left;
    color: #555;
    font-size: 18px;
    margin-top: -1px;
    font-family: "Roboto Light";
    margin-left: 14px;
    width: 82%;
}
.hospital_mid_3_left {
    float: left;
    width: 100%;
}
.hospital_mid_3_right {
    width: 100%;
    float: right;
    margin-top: 16px;
}
.hosiptal_bottom_part ul li{
	width:88%;
}
.hospital_anchor {
    width: 100%;
    margin: 0px auto;
}
.hospital_anchor a{
	font-size:16px;}
	
	.avilable_job_inner h1{
		font-size:23px;
	}
	.contact_us_form {
    width: 100%;
    margin: 0px auto;
}
.contact_us_form_inner_main {
    width: 96%;
    float: left;
    margin: 4px 0px 0px 11px;
}
	.contact_us_form_inner_main_upper input[type="text"]{
		width:94%;
		margin-top:7px;
		float:left;
	}
	.contact_us_form_inner_main_upper textarea{
		width:94%;
		margin-top:7px;
		float:left;
	}
	.contact_us_form_inner_main input[type="submit"]{
		margin-left:0px;
	}
	.add{
		margin-top:5px;
	}
	
	
	
	.avilable_job_inner{
		margin-top:0px;
	}.form_main {
    width: 100%;
    margin: 0px auto;
}
.form_main_inner_box {
    width: 100%;
    float: left;
    margin: 18px 0px 0px 7px;
}
.form_main_inner_box_upper {
    width: 96%;
    float: left;
    margin-bottom: 21px;
}
	
	.form_main_inner_box_upper select{
		width:100%;
		margin-top:10px;
	}
	
	.new_width select{
		margin-left:0px;
	}
	.avilable_job_banner {
    width: 100%;
    float: left;
    background: transparent url("images/avilable-job-banner.jpg") no-repeat scroll center top;
    height: 264px;
    background-size: 335%;
}
.container {
    width: 97%;
    margin: 0px auto;
}
.header_top_right {
    width: 100%;
    float: left;
}
.header_top_right_nav ul li a{
	padding: 14px 0px;
	width:121px;
}
.header_top_right p{
	margin-left: 0px;
font-size: 13px;
width: 100%;
float: left;
text-align: center;
}.header_top_right p span{
	font-size:20px;
}
.logo{
	width:100%;
	text-align:center;
}
.nav{
	width: 100%;
margin-top: 93px;
}
.header_top_right_nav {
    float: left;
    width: 100%;
}
.nav_full{
	height: 147px;
}
.nav ul li{
	background:#ef4d1b;
	margin-left:0px;
	margin-bottom:0px;
	border-bottom:1px solid #b43913;
}
.nav ul li a{
	padding: 10px 0px;
}
.nav ul li a:hover{
	background:none;
	padding: 10px 0px;
}
.banner_form{
	width:93%;
}
.mid_1{
	width:100%;
}
.mid_1 h1{
	font-size:24px;
}
.mid_1 p {
    width: 100%;
    float: left;
    text-align: center;
    color: #555;
    font-size: 14px;
    font-family: "Roboto Light";
    margin-top: 17px;
}
.mid_1_left{
	width:100%;
}
.mid_1_right {
    float: right;
    margin-top: 49px;
    width: 100%;
}
.testi_main_box {
    width: 100%;
    margin: 0px auto;
}
.testi_main_box_inner_first_left {
    width: 100%;
    float: left;
    margin-left: 0px;
}
.testi_main_box_inner_first_right {
    width: 93%;
    float: left;
    font-family: "OpenSansLightItalic";
    font-size: 11px;
    color: #3B3B3B;
    margin-left: 18px;
}
.testimonial{
	display:none;
}
.mid_2_left {
    width: 100%;
    float: left;
    margin-top: -4px;
}
.mid_2_left ul li a {
    color: #EF4D1B;
    padding: 10px 48px;
    text-transform: uppercase;
    border: 2px solid #EF4D1B;
    text-align: center;
}
.mid_2_left ul li:last-child {
    margin-left: 0px;
    margin-top: 13px;
}
.mid_2_left ul li {
    float: left;
    font-family: "Roboto";
    font-size: 20px;
    width: 67%;
}
.mid_2 {
    width: 100%;
    float: left;
    padding-bottom: 29px;
    background: transparent url("images/mid_girl.jpg") no-repeat scroll 4px top;
}
	.bottom_part_anchor {
    width: 97%;
    margin: 0px auto;
}
.bottom_part_anchor a {
    float: left;
font-size: 19px;
color: #FFF;
padding: 15px 13px;
font-family: "Roboto Medium";
border: 1px solid #FFF;
width: 91%;
text-align: center;
}

.footer_left {
    width: 100%;
    float: left;
}
.footer_left_left:last-child {
    float: left;
    width: 203px;
}
.footer_second {
    width: 100%;
    margin-left: 0px;
    float: left;
}
.folow_us {
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-top: 16px;
}
.footer_second_new {
    width: 97%;
    margin: 0px auto;
}
.header_top_right_nav ul {
    float: none;
	margin-top:6px;
	    text-align: center;
}
.header_top_right_nav ul li{
	    display: inline-block;
		float:none;
}
.header_top_right_nav ul li:first-child a{
	padding:14px 0px;
}

.about_us_container_inner_left {
    width: 100%;
    float: left;
    margin-top: 25px;
}
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
	.footer_second h1{
		margin-top:17px;
	}
	.refer_friend {
    width: 100%;
    float: left;
    background: transparent url("images/refer-banner.jpg") no-repeat scroll center top;
    height: 174px;
    background-size: 192%;
}
.avilable_job_inner p{
	font-size:11px;
}
.refer_form_main_left {
    width: 100%;
    float: left;
}
.refer_form_main_left_upper input[type="text"]{
	width:97%;
}
.input_box {
    float: left;
    width: 100%;
}
.input{
	margin-left:0px;
	width:97% !important;
}
	.why_veron_mid_first_box {
    width: 100%;
    float: left;
	margin-bottom:20px;
    margin-left: 0px;
}
.why_veron_mid_first_box p{
	font-size:17px;
}
.why_veron_mid_first_box:last-child {
    width: 100%;
    margin-left: 0px;
}.why_veron_banner {
    width: 100%;
    float: left;
    background: transparent url("images/why-veron-banner.jpg") no-repeat scroll center top;
    height: 164px;
    background-size: 205%;
}
.text{
	font-size:12px;
}
.benifits_left {
    width: 100%;
    float: left;
}
.benifits_left_first_upper h2{
	font-size:13px;
}
.benifits_left_first p{
	font-size:12px;
}
	.hospital_banner {
    width: 100%;
    float: left;
    background: transparent url("images/hospital-banner.jpg") no-repeat scroll center top;
    height: 175px;
    background-size: 225%;
}
.hospital_inner_box{
	margin-top:0px;
	
}
.hospital_inner_box_upper ul li{
	width:87%;
}
.hospital_inner_box_second p {
    float: left;
    color: #555;
    font-size: 18px;
    margin-top: -1px;
    font-family: "Roboto Light";
    margin-left: 14px;
    width: 82%;
}
.hospital_mid_3_left {
    float: left;
    width: 100%;
}
.hospital_mid_3_right {
    width: 100%;
    float: right;
    margin-top: 16px;
}
.hosiptal_bottom_part ul li{
	width:88%;
}
.hospital_anchor {
    width: 100%;
    margin: 0px auto;
}
.hospital_anchor a{
	font-size:16px;}
	.avilable_job_inner h1{
		font-size:23px;
	}
	.contact_us_form {
    width: 100%;
    margin: 0px auto;
}
.contact_us_form_inner_main {
    width: 96%;
    float: left;
    margin: 4px 0px 0px 11px;
}
	.contact_us_form_inner_main_upper input[type="text"]{
		width:94%;
		margin-top:7px;
		float:left;
	}
	.contact_us_form_inner_main_upper textarea{
		width:94%;
		margin-top:7px;
		float:left;
	}
	.contact_us_form_inner_main input[type="submit"]{
		margin-left:0px;
	}
	.add{
		margin-top:5px;
	}
	.avilable_job_inner{
		margin-top:0px;
	}.form_main {
    width: 100%;
    margin: 0px auto;
}
.form_main_inner_box {
    width: 100%;
    float: left;
    margin: 18px 0px 0px 7px;
}
.form_main_inner_box_upper {
    width: 96%;
    float: left;
    margin-bottom: 21px;
}
	
	.form_main_inner_box_upper select{
		width:100%;
		margin-top:10px;
	}
	
	.new_width select{
		margin-left:0px;
	}
	.about_us_container_inner_left {
    width: 100%;
    float: left;
    margin-top: 25px;
}
.container {
    width: 97%;
    margin: 0px auto;
}
.header_top_right {
    width: 100%;
    float: left;
}
.header_top_right_nav ul li a{
	padding: 14px 0px;
	width:201px;
}
.header_top_right p{
	margin-left: 0px;
font-size: 13px;
width: 100%;
float: left;
text-align: center;
}.header_top_right p span{
	font-size:20px;
}
.logo{
	width:100%;
	text-align:center;
}
.nav{
	width: 100%;
margin-top: 93px;
}
.header_top_right_nav {
    float: left;
    width: 100%;
}
.nav_full{
	height: 147px;
}
.nav ul li{
	background:#ef4d1b;
	margin-left:0px;
	margin-bottom:0px;
	border-bottom:1px solid #b43913;
}
.nav ul li a{
	padding: 10px 0px;
}
.nav ul li a:hover{
	background:none;
	padding: 10px 0px;
}
.banner_form{
	width:93%;
}
.mid_1{
	width:100%;
}
.mid_1 h1{
	font-size:24px;
}
.mid_1 p {
    width: 100%;
    float: left;
    text-align: center;
    color: #555;
    font-size: 14px;
    font-family: "Roboto Light";
    margin-top: 17px;
}
.mid_1_left{
	width:100%;
}
.mid_1_right {
    float: right;
    margin-top: 49px;
    width: 100%;
}
.testi_main_box {
    width: 100%;
    margin: 0px auto;
}
.testi_main_box_inner_first_left {
    width: 100%;
    float: left;
    margin-left: 0px;
}
.testi_main_box_inner_first_right {
    width: 93%;
    float: left;
    font-family: "OpenSansLightItalic";
    font-size: 11px;
    color: #3B3B3B;
    margin-left: 18px;
}
.testimonial{
	display:none;
}
.mid_2_left {
    width: 100%;
    float: left;
    margin-top: -4px;
}
.mid_2_left ul li a {
    color: #EF4D1B;
    padding: 10px 48px;
    text-transform: uppercase;
    border: 2px solid #EF4D1B;
    text-align: center;
}
.mid_2_left ul li:last-child {
    margin-left: 0px;
    margin-top: 13px;
}
.mid_2_left ul li {
    float: left;
    font-family: "Roboto";
    font-size: 20px;
    width: 67%;
}
.mid_2 {
    width: 100%;
    float: left;
    padding-bottom: 29px;
    background: transparent url("images/mid_girl.jpg") no-repeat scroll 4px top;
}
	.bottom_part_anchor {
    width: 97%;
    margin: 0px auto;
}
.bottom_part_anchor a {
    float: left;
font-size: 19px;
color: #FFF;
padding: 15px 13px;
font-family: "Roboto Medium";
border: 1px solid #FFF;
width: 91%;
text-align: center;
}

.footer_left {
    width: 100%;
    float: left;
}
.footer_left_left:last-child {
    float: left;
    width: 203px;
}
.footer_second {
    width: 100%;
    margin-left: 0px;
    float: left;
}
.folow_us {
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-top: 16px;
}
.footer_second_new {
    width: 97%;
    margin: 0px auto;
}
.header_top_right_nav ul {
    float: none;
	margin-top:6px;
	    text-align: center;
}
.header_top_right_nav ul li{
	    display: inline-block;
		float:none;
}
.header_top_right_nav ul li:first-child a{
	padding:14px 0px;
}
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
	.footer_second h1{
		margin-top:17px;
	}
	.refer_friend {
    width: 100%;
    float: left;
    background: transparent url("images/refer-banner.jpg") no-repeat scroll center top;
    height: 250px;
    background-size: 192%;
}
.avilable_job_inner p{
	font-size:11px;
}
.refer_form_main_left {
    width: 100%;
    float: left;
}
.refer_form_main_left_upper input[type="text"]{
	width:97%;
}
.input_box {
    float: left;
    width: 100%;
}
.input{
	margin-left:7px !important;
	width:97% !important;
}
	.why_veron_mid_first_box {
    width: 100%;
    float: left;
	margin-bottom:20px;
    margin-left: 0px;
}
.why_veron_mid_first_box p{
	font-size:17px;
}
.why_veron_mid_first_box:last-child {
    width: 100%;
    margin-left: 0px;
}.why_veron_banner {
    width: 100%;
    float: left;
    background: transparent url("images/why-veron-banner.jpg") no-repeat scroll center top;
    height: 256px;
    background-size: 205%;
}
.text{
	font-size:12px;
}
.benifits_left {
    width: 100%;
    float: left;
}
.benifits_left_first_upper h2{
	font-size:13px;
}
.benifits_left_first p{
	font-size:12px;
}
	.hospital_banner {
    width: 100%;
    float: left;
    background: transparent url("images/hospital-banner.jpg") no-repeat scroll center top;
    height: 362px;
    background-size: 225%;
}
.hospital_inner_box{
	margin-top:0px;
	
}
.hospital_inner_box_upper ul li{
	width:87%;
}
.hospital_inner_box_second p {
    float: left;
    color: #555;
    font-size: 18px;
    margin-top: -1px;
    font-family: "Roboto Light";
    margin-left: 14px;
    width: 82%;
}
.hospital_mid_3_left {
    float: left;
    width: 100%;
}
.hospital_mid_3_right {
    width: 100%;
    float: right;
    margin-top: 16px;
}
.hosiptal_bottom_part ul li{
	width:88%;
}

	.avilable_job_inner h1{
		font-size:23px;
	}
	.contact_us_form {
    width: 100%;
    margin: 0px auto;
}
.contact_us_form_inner_main {
    width: 96%;
    float: left;
    margin: 4px 0px 0px 11px;
}
	.contact_us_form_inner_main_upper input[type="text"]{
		width:94%;
		margin-top:7px;
		float:left;
	}
	.contact_us_form_inner_main_upper textarea{
		width:94%;
		margin-top:7px;
		float:left;
	}
	.contact_us_form_inner_main input[type="submit"]{
		margin-left:0px;
	}
	.add{
		margin-top:5px;
	}
	.avilable_job_inner{
		margin-top:0px;
	}.form_main {
    width: 100%;
    margin: 0px auto;
}
.form_main_inner_box {
    width: 100%;
    float: left;
    margin: 18px 0px 0px 7px;
}
.form_main_inner_box_upper {
    width: 96%;
    float: left;
    margin-bottom: 21px;
}
	
	.form_main_inner_box_upper select{
		width:51%;
		margin-top:10px;
	}
	
	.new_width select{
		margin-left:42px;
	}
	.about_us_container_inner_left {
    width: 100%;
    float: left;
    margin-top: 25px;
}
	.nav ul{
		width:100%;
	}
.container {
    width: 97%;
    margin: 0px auto;
}
.header_top_right {
    width: 100%;
    float: left;
}
.header_top_right_nav ul li a{
	padding: 14px 0px;
width: 164px;
text-align: center;
}
.header_top_right p{
	margin-left: 0px;
	margin-top:15px;
font-size: 17px;
width: 46%;
float: right;
}.header_top_right p span{
	font-size: 18px;
}
.logo{
	width:100%;
	text-align:center;
}
.nav{
	width: 100%;
margin-top: 93px;
}
.header_top_right_nav {
    float: left;
    width: 47%;
}
.nav_full{
	height: 147px;
}
.nav ul li{
	background:#ef4d1b;
	margin-left:0px;
	margin-bottom:0px;
	border-bottom:1px solid #b43913;
}
.nav ul li a{
	padding: 10px 0px;
}
.nav ul li a:hover{
	background:none;
	padding: 10px 0px;
}
.banner_form{
	width:325px;
}
.mid_1{
	width:100%;
}
.mid_1 h1{
	font-size:24px;
}
.mid_1 p {
    width: 100%;
    float: left;
    text-align: center;
    color: #555;
    font-size: 14px;
    font-family: "Roboto Light";
    margin-top: 17px;
}
.mid_1_left{
	width: 53%;
}
.mid_1_right {
   float: right;
margin-top: 49px;
width: 44%;
}
.testi_main_box {
    width: 100%;
    margin: 0px auto;
}
.testi_main_box_inner_first_left {
    width: 100%;
    float: left;
    margin-left: 0px;
}
.testi_main_box_inner_first_right {
    width: 93%;
    float: left;
    font-family: "OpenSansLightItalic";
    font-size: 11px;
    color: #3B3B3B;
    margin-left: 18px;
}
.testimonial {
    width: 100%;
    float: left;
    background: transparent url("images/testi-bg.jpg") no-repeat scroll center top;
    height: 1201px;
    background-size: 360%;
}
.mid_2_left {
    width: 50%;
    float: left;
    margin-top: -4px;
}
.mid_2_left ul li a {
    color: #EF4D1B;
    padding: 10px 48px;
    text-transform: uppercase;
    border: 2px solid #EF4D1B;
    text-align: center;
}
.mid_2_left ul li:last-child {
    margin-left: 0px;
    margin-top: 13px;
}
.mid_2_left ul li {
    float: left;
    font-family: "Roboto";
    font-size: 20px;
    width: 67%;
}
.mid_2 {
    width: 100%;
    float: left;
    padding-bottom: 29px;
    background: transparent url("images/mid_girl.jpg") no-repeat scroll 4px top;
}
	.bottom_part_anchor {
    width: 97%;
    margin: 0px auto;
}
.bottom_part_anchor a {
    float: left;
font-size: 19px;
color: #FFF;
padding: 15px 13px;
font-family: "Roboto Medium";
border: 1px solid #FFF;
width: 91%;
text-align: center;
}

.footer_left {
    width: 100%;
    float: left;
}
.footer_left_left:last-child {
    float: left;
    width: 203px;
}
.footer_second {
    width: 100%;
    margin-left: 0px;
    float: left;
}
.folow_us {
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-top: 16px;
}
.footer_second_new {
    width: 97%;
    margin: 0px auto;
}


.header_top_right_nav ul li:first-child a{
	padding:14px 0px;
}
.testi_bottom_left{
	width:100%;
}
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.container {
    width: 953px;
    margin: 0px auto;
}
.nav {
    width: 748px;
float: right;
margin-top: 39px;
position: absolute;
right: 0px;
}
.nav ul li{font-size:14px;
margin-left:20px;
}
.mid_1 {
    width: 100%;
    float: left;
    margin-top: 49px;
}
.mid_1 p{
	font-size:17px;
}
.mid_1_left {
    float: left;
    margin-top: 35px;
    width: 50%;
}
.mid_1_right {
    float: right;
    margin-top: 49px;
    width: 47%;
}
.testi_main_box {
    width: 100%;
    margin: 0px auto;
}
.testi_main_box_inner_first_right{
	width:766px;
}
.testi_bottom_left{
	width:465px;
}
.testi_bottom_left_right{
	width:292px;
}
.testimonial {
    width: 100%;
    float: left;
    background: transparent url("images/testi-bg.jpg") no-repeat scroll center top;
    height: 898px;
    background-size: 179%;
}

.footer_left {
    width: 375px;
    float: left;
}
.footer_left_left ul li{
	font-size:15px;
}
.about_us_container_inner {
    width: 100%;
    float: left;
    background: transparent url("images/girl.jpg") no-repeat scroll -394px -5px;
}
	
	.hospital_inner_box_second p {
    float: left;
    color: #555;
    font-size: 17px;
    margin-top: 8px;
    font-family: "Roboto Light";
    margin-left: 13px;
}
.hospital_mid_3_right {
    width: 50%;
    float: right;
}
.hosiptal_bottom_part ul li{
	width:96%;
}
.hospital_inner_box_upper ul li{
	width:97%;
}
.why_veron_mid_first_box{
	margin-left:4px;
}
.why_veron_mid_first_box:last-child{
	margin-left:5px;
}
.text{
	font-size:20px;
}
.benifits_left {
    width: 455px;
    float: left;
}
.refer_form_main_left {
    width: 47%;
    float: left;
}
.refer_form_main_left_upper input[type="text"]{
	width:256px;
}
.input_box {
    width: 272px;
    float: right;
}
.input{
	width:118px !important;
}
	
}