@charset "utf-8";
/* CSS Document */

* {
	margin:0px auto;
	padding:0;
}
div, ul, ol, li, a, p, input {
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	border:0;
	outline:0;
	text-transform:none;
}
img {
	max-width:100%;
	border:0;
}
.container{
	width:1198px;
	margin:0 auto;
}
.header_top{
	width:100%;
	float:left;
	background:#242c42;
}
.header_left_right{
	width:35%;
	float:left;
}
.header_top_left_nav{
	float:left;
	width:455px;
}
.header_top_left_nav ul li{
	float:left;
	font-family: "Roboto Light";
	font-size:16px;
	margin-left:1px;
	position: relative;
}
.header_top_left_nav ul li a{
	color:#FFF;
	background:#ef4d1b;
	font-family: "Roboto Light";
	padding:14px 25px;
	float:left;
}

.header_top_left_nav ul li a img{
	margin-top: 1px;
	height: 48px;
}

.header_top_left_nav ul li a.logo {
	margin: 0 4px 0 0;
	padding: 0; height: 50px;
	background: transparent;
}

.header_top_left_nav ul li > ul{
	display: none;
	position: fixed;
	top: 50px;
	width: 120px;
}

.header_top_left_nav ul li > ul li a{
	width: 210px;
	padding: 12px 15px;
}

.header_top_right{
	width:61%;
	float:right;
}
.header_top_right_nav{
	float:left;
	width:290px;
}
.header_top_right_nav ul{
	float:left;
}
.header_top_right_nav ul li{
	float:left;
	 font-family: "Roboto Light";
	 font-size:16px;
	 
	margin-left:1px;
}
.header_top_right_nav ul li:first-child{
	margin-left:0px;
}
.header_top_right_nav ul li:first-child a{
	padding:14px 49px;
	border-right:1px solid #FFF;
	
}
.header_top_right_nav ul li a{
	color:#FFF;
	background:#ef4d1b;
	 font-family: "Roboto Light";
	  padding:14px 25px;
	  float:left;
}
.header_top_right p{
	float:left;
	color:#FFF;
	font-size:19px;
	margin-left: 12px;
    margin-top: 8px;
	font-family: "Roboto Light";
	
}
.header_top_right p span{
	font-size:23px;
	color:#ef4d1b;
	 font-family: 'RobotoBold';
}
.nav_full{
	width:100%;
	float:left;
	
	position:relative;
	-webkit-box-shadow:1px -2px -2px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:1px -2px -2px 0px rgba(0, 0, 0, 0.75);
box-shadow: 1px -2px -2px 0px rgba(0, 0, 0, 0.75));
	background:#FFF;
}
.logo{
	float:left;
	margin-top:15px;
	margin-bottom:15px;
}
.nav{

	    width: 967px;
    float: right;
    margin-top: 39px;
    position: absolute;
	right:0;
	
}
.nav ul{
	float:left;
}
.nav ul li{
	float:left;
	 font-family: "Roboto Medium";
	 font-size:16px;
	 margin-left:18px;
}
.nav ul li a{
	color:#000;
	padding-bottom:41px;
}
.nav ul li a:hover{
	background:url(/images/nav-border.jpg) no-repeat bottom;
	padding-bottom:41px;
}
.nav ul li:first-child{
	margin-left:0px;
}

.banner{
	width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/banner.jpg) no-repeat top center;
  height:655px;
}
.banner_form{
	width:325px;
	background:#ffffff;
	margin-top:87px;
	float:right;
	padding-left:24px;
	padding-right:12px;
}
.banner_form h1{
	width:100%;
	float:left;
	 font-family: "Roboto";
	 font-size:24px;
	 margin-top:24px;
	 color:#000;
	 padding-bottom:37px;
	 font-weight:normal;
	 background:url(/images/banner-heading-border.jpg) no-repeat 3px bottom, url(/images/search.jpg) no-repeat right 10px;
}
.banner_form span{
	 font-family: "Roboto Light";
	 line-height:18px;
}
.form_section{
	width:100%;
	float:left;
	margin-top:10px;
}
.form_section input[type='text'] {
	font-family: "Roboto Light";
	font-size:16px;
	padding-left:13px;
	width:93%;
	margin-bottom:16px;
	height:46px;
	border-radius:2px;
	border:1px solid #b5b5b5;
	-moz-border:1px solid #b5b5b5; -webkit-border:1px solid #b5b5b5;
	color:#838383;
}
.form_section input[type='password'] {
	font-family: "Roboto Light";
	font-size:16px;
	padding-left:13px;
	width:93%;
	margin-bottom:16px;
	height:46px;
	border-radius:2px;
	border:1px solid #b5b5b5;
	-moz-border:1px solid #b5b5b5; -webkit-border:1px solid #b5b5b5;
	color:#838383;
}
.form_section select {
	font-family: "Roboto Light";
	font-size:16px;
	padding-left:13px;
	width:93%;
	margin-bottom:16px;
	height:46px;
	border-radius:2px;
	border:1px solid #b5b5b5;
	-moz-border:1px solid #b5b5b5; -webkit-border:1px solid #b5b5b5;
	color:#838383;
}
.form_section input[type='submit'] {
	width:100%;
	float:left;
	height:60px;
	margin-bottom:23px;
	background:url(/images/input.jpg) no-repeat; cursor:pointer;
	text-indent:-1000px;
}
.mid_1{
	width:1122px;
	float:left;
	margin-top:49px;
}
.mid_1 h1{
	width:100%;
	float:left;
	text-align:center;
	font-size:36px;
	color:#000;
	font-family: "Roboto";
	font-weight:normal;
}
.mid_1 p{
	width:100%;
	float:left;
	text-align:center;
	color:#555555;
	font-size:18px;
	   font-family: "Roboto Light";
	   margin-top:33px;
}
.mid_1_left{
	width:607px;
	
	float:left;
	margin-top:35px;
}
.mid_1_left a{
	float:right;
	background:#ef4d1b;
	font-size:20px;
	font-family: "Roboto";
	color:#FFF;
	text-transform:uppercase;
	padding:17px 67px;
	margin-top:3px;
	float:right;
	margin-right:20px;
}.mid_1_right{
	    float: right;
    margin-top: 49px;
    width: 514px;

}
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
.nav ul li {
	display:inline-block;
	float: left;
	
	margin-left:33px;
}

/*Style for menu links*/
.nav ul li a {
	display:block;

	
	text-align: center;
	
	
	color: #000;
	
	text-decoration: none;
}

/*Hover state for top level links*/
.nav ul li:hover a {
	
}

/*Style for dropdown links*/
.nav ul li:hover ul a {
	
	
	line-height: 40px;
}

/*Hover state for dropdown links*/
.nav ul li:hover ul a:hover {
	
	color: #fff;
}

/*Hide dropdown links until they are needed*/
.nav li ul {
	display: none;
}

/*Make dropdown links vertical*/
.nav ul li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.nav ul li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
.nav ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #ef4d1b;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
.nav input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
.nav input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 850px){
	/*Make dropdown links appear inline*/
	.nav ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.nav ul li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.nav ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
.testimonial{
	width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(images/testi-bg.jpg) no-repeat top center;
  height:821px;
}
.testimonial h1{
	width:100%;
	float:left;
	text-align:center;
	font-weight:normal;
	font-size:36px;
	color:#FFF;
	margin-top:40px;
	 font-family: "Roboto";
}
.testimonial p{
	width:100%;
	float:left;
	text-align:center;
	font-size:24px;
	color:#FFF;
	  font-family: "Roboto Light";
	  margin-top:14px;
}
.testi_main_box{
	width:1097px;
	margin:0 auto;
}
.testi_main_box_inner_first{
	width:100%;
	float:left;
	background:#FFF;
	margin-top:35px;
	padding-top:22px;
	padding-bottom:22px;
}
.testi_main_box_inner_first_left{
	width:130px;
	float:left;
	margin-left:21px;
}
.testi_main_box_inner_first_left_image{
	width:100%;
	float:left;
	text-align:center;
}
.testi_main_box_inner_first_left h2{
	width:100%;
	float:left;
	text-align:center;
	font-size:20px;
	color:#000;
	font-weight:normal;
	font-family: 'OpenSansSemibold';
}
.testi_main_box_inner_first_right{
	width:890px;
	float:left;
	
	 font-family: 'OpenSansLightItalic';
	 font-size:15px;
	 color:#3b3b3b;
	 margin-left:30px;
}
.testi_bottom_left{
	width:524px;
	background:#FFF;
	margin-top:35px;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
}
.testi_bottom_left_left{
	width:130px;
	float:left;
	margin-left:21px;
}
.testi_bottom_left_left_image{
	width:100%;
	float:left;
	text-align:center;
}
.testi_bottom_left_left h2{
	width:100%;
	float:left;
	text-align:center;
	font-size:20px;
	color:#000;
	font-weight:normal;
	font-family: 'OpenSansSemibold';
}
.testi_bottom_left_right{
	width:351px;
	float:left;
	
	 font-family: 'OpenSansLightItalic';
	 font-size:15px;
	 color:#3b3b3b;
	 margin-left:11px;
}
.testi_bottom_left_last{
	float:right;
}
.create_profile{
	width:235px;
	margin:0 auto;
}
.create_profile a{
	float:left;
	font-size:20px;
	color:#FFF;
	margin-top:64px;
	padding:17px 37px;
	 font-family: "Roboto";
	 background:#ef4d1b;
	 text-transform:uppercase;
}
.mid_2{
	width:100%;
	float:left;
	padding-bottom:96px;
	background:url(/images/mid_girl.jpg) no-repeat top right;
}
.mid_2_left{
	width:492px;
	float:left;
	margin-top:120px;
}
.mid_2_left h1{
	width:100%;
	float:left;
	font-weight:normal;
	color:#3b3b3b;
	font-size:36px;
	 font-family: "Roboto";
}
.mid_2_left span{
	color:#ef4d1b;
}
.mid_2_left p{
	width:100%;
	float:left;
	font-size:21px;
	color:#3b3b3b;
	   font-family: "Roboto Light";
	   margin-top:20px;
}
.mid_2_left ul{
	float:left;
	margin-top:49px;
}
.mid_2_left ul li{
	float:left;
	 font-family: "Roboto";
	 font-size:20px;
}
.mid_2_left ul li a{
	color:#ef4d1b;
	padding:10px 50px;
	text-transform:uppercase;
	border:2px solid #ef4d1b;
}
.mid_2_left ul li:last-child{
	margin-left:18px;
}
.bottom_part{
	width:100%;
	float:left;
	padding-top:38px;
	padding-bottom:38px;
	background:#ef4d1b;
}
.bottom_part_anchor{
	width:441px;
	margin:0 auto;
}
.bottom_part_anchor a{
	float:left;
	font-size:24px;
	color:#FFF;
	padding:15px 41px;
	  font-family: "Roboto Medium";
	  border:1px solid #FFF;
}
.footer{
	width:100%;
	float:left;
	border-top:1px solid #846f68;
	padding-top:36px;
	background:url(/images/footer-bg.jpg) repeat;
}
.footer_left{
	width:423px;
	float:left;
}
.footer_left h1{
	width:100%;
	float:left;
	font-size:24px;
	margin-bottom:35px;
	color:#FFF;
	text-transform:uppercase;
	 font-family: "Roboto";
	 font-weight:normal;
}
.footer_left_left{
	width:160px;
	float:left;
}
.footer_left_left ul{
	float:left;
}
.footer_left_left ul li{
	float:left;
	font-size:18px;
	padding:5px 0px 4px 18px;
	background:url(/images/arow.png) no-repeat left;
	 font-family: "Roboto";
}
.footer_left_left ul li a{
	color:#bebebe;
}
.footer_left_left:last-child{
	float:right;
	width:203px;
}
.footer_second{
	    width: 307px;
    margin-left: 69px;
    float: left;

}
.footer_second h1{
	width:100%;
	float:left;
	font-size:24px;
	margin-bottom:35px;
	color:#FFF;
	text-transform:uppercase;
	 font-family: "Roboto";
	 font-weight:normal;
}
.footer_second p{
	width:100%;
	float:left;
	font-size:18px;
	margin-top:0px;
	color:#bebebe;
	 font-family: "Roboto";
}
.footer_second a{
	    float: left;
    font-size: 20px;
    color: #FFF;
    margin-top: 15px;
    padding: 17px 15px;
    font-family: "Roboto";
    background: #ef4d1b;
    text-transform: uppercase;
}
.folow_us{
	width:135px;
	float:left;
	margin-left:55px;
}
.folow_us h1{
	width:100%;
	float:left;
	font-size:24px;
	margin-bottom:35px;
	color:#FFF;
	text-transform:uppercase;
	 font-family: "Roboto";
	 font-weight:normal;
}
.folow_us ul{
	float:left;
}
.folow_us ul li{
	float:left;
	margin-left:5px;
}
.folow_us ul li:first-child{
	margin-left:0px;
}
.footer_second_new{
	width:961px;
	margin:0 auto;
}
.footer_second_new p{
	width:100%;
	float:left;
	text-align:center;
	font-size:15px;
	color:#bebebe;
	margin-top:32px;
	padding-top:16px;
	margin-bottom:15px;
	 font-family: "Roboto";
	 border-top:1px solid #373737;
}
/******** inner *******/ 
.about_us_banner{
	width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/about-us-banner.jpg) no-repeat top center;
  height:310px;
}
.about_us_container{
	width:1290px;
	margin:0 auto;
}
.about_us_container_inner{
	width: 100%;
    float: left;
    background:transparent url("/images/girl.jpg") no-repeat scroll -114px -5px;
 
}
.about_us_container_inner_left{
	width:830px;
	float:left;
	margin-top:25px;
}
.about_us_container_inner_left h1{
	width:100%;
	float:left;
	font-size:24px;
	margin-bottom:14px;
	color:#171717;
	 font-family: "Roboto Medium";
	 font-weight:normal;
	 
}
	
	.about_us_container_inner_left p{
		width:100%;
		float:left;
		font-size:18px;
		color:#555555;
		margin-bottom:28px;
		 font-family: "Roboto Light";
	}
	.about_us_container_inner_left p span{
		 font-family: "Roboto Medium";
	}
	.who_we_are{
		width:100%;
		float:left;
		background:#f0f0f0;
		padding-top:30px;
		padding-bottom:35px;
	}
	.who_we_are h1{
		width:100%;
		float:left;
		text-align:center;
		font-size:36px;
		color:#171717;
		 font-family: "Roboto";
		 font-weight:normal;
	}
	.video_box{
		width:100%;
		float:left;
		text-align:center;
		margin-top:45px;
	}
	.why_veron_banner{
		width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/why-veron-banner.jpg) no-repeat top center;
  height:310px;
	}
	.why_veron_mid{
		width:100%;
		float:left;
		margin-top:38px;
	}
	.why_veron_mid h1{
		width:100%;
		float:left;
		color:#171717;
		font-size:36px;
		margin-bottom:32px;
		text-align:center;
		font-weight:normal;
		  font-family: "Roboto Medium";
	}
	.why_veron_mid_first_box{
		width:318px;
		float:left;
		margin-left:35px;
	}
	.why_veron_mid_first_box_image{
		width:100%;
		float:left;
		margin-bottom:17px;
		text-align:center;
	}
	.why_veron_mid_first_box p{
		width:100%;
		float:left;
		margin-top:18px;
		text-align:center;
		font-size:18px;
		color:#555555;
		 font-family: "Roboto Light";
	}
	.why_veron_mid_first_box_2{
		width:337px;
		margin-left:78px;
	}
	.why_veron_mid_first_box:last-child{
		width:278px;
		margin-left:80px;
	}
	.benifits{
		width:100%;
		padding-bottom:50px;
		float:left;
		padding-top:34px;
		background:#ede8e8;
	}
	
	.benifits h1{
		width: 100%;
    float: left;
    color: #171717;
    font-size: 36px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: normal;
    font-family: "Roboto Medium";
	}
	.text{
		width:100%;
		float:left;
		text-align:center;
		font-size:24px;
		color:#555555;
		 font-family: "Roboto Light";
		 margin-top:0px;
		 margin-bottom:40px;
	}
	.benifits_left{
		width:560px;
		float:left;
	}
	.benifits_left_first{
		width:100%;
		margin-bottom:25px;
		float:left;
	}
	.benifits_left_first_upper{
		width:100%;
		float:left;
	}
	.benifits_left_first_upper_image{
		width:61px;
		float:left;
	}
	.benifits_left_first_upper h2{
		float:left;
		font-weight:normal;
		color:#555555;
		font-size:18px;
		 font-family: "Roboto";
		 margin-top:12px;
	}
	.benifits_left_first p{
		width:100%;
		float:left;
		color:$555555;
		font-size:18px;
		font-family: "Roboto Light";
		margin-top:12px;
	}
	.benifits_left:last-child{
		float:right;
	}
	.avilable_job_banner{
		width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/avilable-job-banner.jpg) no-repeat top center;
  height:310px;
	}
	.avilable_job_inner{
		width:100%;
		margin-top:37px;
		float:left;
	}
	.avilable_job_inner h1{
		width:100%;
		float:left;
		text-align:center;
		color:#000;
		font-size:36px;
		 font-family: "Roboto";
		 font-weight:normal;
	}
	.avilable_job_inner p{
		width:100%;
		float:left;
		text-align:center;
		margin-top:19px;
		color:#555555;
		font-size:18px;
		font-family: "Roboto Light";
	}
	.form_main{
		width:750px;
		margin:0 auto;
	}
	.form_main_inner{
		width:100%;
		float:left;
		margin-top:40px;
		padding-bottom:38px;
		background:#f4f4f5;
		border:1px solid #bcbcbc;
	}
	.form_main_inner_box{
		width:669px;
		float:left;
		margin:36px 0px 0px 32px;
	}
	.form_main_inner_box_upper{
		width:100%;
		float:left;
		margin-bottom:21px;
	}
	.form_main_inner_box_upper label{
		float:left;
		font-size:18px;
		color:#555555;
		margin-top:11px;
		text-align:left;
		font-family: "Roboto";
	}
	.form_main_inner_box_upper select{
		width:318px;
		padding-left:9px;
		float:right;
		height:46px;
		  font-family: "Roboto Light";
		  font-size:16px;
		  color:#838383;
		background:#FFF;
		border:2px solid #adadad;
	}
	.new_width select{
		width:205px;
		float:left;
		margin-left:42px;
	}
	.jobs_button{
		width:235px;
		margin:0 auto;
	}
	.jobs_button input{
		float:left;
		background:#ef4d1b;
		color:#FFF;
		font-family: "Roboto";
		font-size:20px;
		text-transform:uppercase;
		padding:14px 45px;
		margin-top:30px;
		cursor:pointer;
	}
	.job_text{
		width:100%;
		float:left;
		text-align:center;
		color:#161616;
		font-size:24px;
		margin-top:38px;
		  font-family: "Roboto Light";
	}
	.job_text span{
		color:#ef4d1b;
	}
	.margin_bottom{
		margin-bottom:40px;
	}
	.hospital_banner{
		width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/hospital-banner.jpg) no-repeat top center;
  height:310px;
	}
		.hospital_anchor{
	width:441px;
	margin:0 auto;
}
.hospital_anchor a{
	float:left;
	font-size:24px;
	color:#FFF;
	padding:15px 29px;
	  font-family: "Roboto Medium";
	  border:1px solid #FFF;
}
.hospital_inner_box{
	
	width:100%;
	float:left;
	margin-top:40px;
}
.hospital_inner_box h1{
	width:100%;
	float:left;
	text-align:center;
	color:#171717;
	font-size:24px;
	  font-family: "Roboto Medium";
	  font-weight:normal;
}
.hospital_inner_box_upper{
	width:100%;
	float:left;
	margin-top:40px;
}
.hospital_inner_box_upper ul{
	float:left;
}
.hospital_inner_box_upper ul li{
	float:left;
	font-size:18px;
	color:#555555;
	padding:11px 0px 7px 25px;
	background:url(/images/arow-li.jpg) no-repeat left;
	width:100%;
	  font-family: "Roboto Light";
}
.hospital_inner_box_upper ul li:nth-child(2){
	background:none;
}
.hospital_inner_box_upper ul li:last-child{
	
padding:26px 0px 24px 25px;
}
.hospital_inner_box_second{
	width:100%;
	margin-bottom:17px;
	float:left;
}
.hospital_inner_box_second_image{
	float:left;
}
.hospital_inner_box_second p{
	float:left;
	color:#555555;
	font-size:18px;
	margin-top:8px;
	  font-family: "Roboto Light";
	  margin-left:14px;
}
.p_margin{
	margin-top:0px !important;
}
.hospital_mid_3{
	width:100%;
	margin-top:40px;
	
	float:left;
}
.hospital_mid_3_left{
	float:left;
}
.hospital_mid_3_right{
	width:681px;
	float:right;
}
.hospital_mid_3_right p{
	width:100%;
	float:left;
	font-size:18px;
	color:#555555;
	margin-bottom:22px;
	  font-family: "Roboto Light";
}
.hospital_inner_box h2{
	width:100%;
	color:#555555;
	font-size:18px;
	float:left;
	font-weight:normal;
	margin-top:34px;
	font-family: "Roboto";
}
.hosiptal_bottom_part{
	width:100%;
	float:left;
}
.hosiptal_bottom_part ul{
	float:left;
	margin-top:20px;
}
.hosiptal_bottom_part ul li{
	float: left;
    width: 100%;
    color: #555555;
    padding: 12px 0px 11px 31px;
    font-size: 18px;
    font-family: "Roboto Light";
    background: url(/images/arow-2.jpg) no-repeat left 16px;
}
.hosiptal_bottom_part p{
	width:100%;
	float:left;
	
	font-size:18px;
	margin-top:25px;
	margin-bottom:35px;
	color:#555555;
	font-family: "Roboto Light";
}
.contact_us{
		width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/contact-us-banner.jpg) no-repeat top center;
  height:310px;
	}
	.contact_us_inner{
		width:100%;
		float:left;
	}
	.contact_us_form{
		width:645px;
		margin:0 auto;
	}
	.contact_us_form_inner{
		width:100%;
		float:left;
		background:#efefef;
		margin-top:34px;
		border:1px solid #bcbcbc;
	}
	.contact_us_form_inner_main{
		width:575px;
		float:left;
		margin:39px 0px 0px 28px;
	}
	.contact_us_form_inner_main_upper{
		width:100%;
		float:left;
		margin-bottom:21px;
	}
	.contact_us_form_inner_main_upper label{
		float:left;
		text-align:left;
		font-size:18px;
		color:#555555;
		margin-top:12px;
		font-family: "Roboto";
	}
.contact_us_form_inner_main_upper input[type='text']{
	width:378px;
	float:right;
	height:46px;
	font-size:16px;
	color:#838383;
	font-family: "Roboto Light";
	background:#FFF;
	padding-left:10px;
	border:2px solid #959595;
}
.contact_us_form_inner_main_upper input[type='password']{
	width:378px;
	float:right;
	height:46px;
	font-size:16px;
	color:#838383;
	font-family: "Roboto Light";
	background:#FFF;
	padding-left:10px;
	border:2px solid #959595;
}
.contact_us_form_inner_main_upper select{
	width:378px;
	float:right;
	height:46px;
	font-size:16px;
	color:#838383;
	font-family: "Roboto Light";
	background:#FFF;
	padding-left:10px;
	border:2px solid #959595;
}
	.contact_us_form_inner_main_upper textarea{
		width:378px;
		float:right;
		height:96px;
		font-size:16px;
		padding-top:10px;
		color:#838383;
		   font-family: "Roboto Light";
		background:#FFF;
		padding-left:10px;
		border:2px solid #959595;
	}
	.contact_us_form_inner_main input[type='submit']{
		float: left;
		background: #ef4d1b;
		font-size: 20px;
		color: #FFF;
		text-transform: uppercase;
		padding: 15px 71px;
		margin-bottom: 20px;
		cursor: pointer;
		margin-left: 142px;
		font-family: "Roboto";
	}

.btn_custom {
	background: #ef4d1b;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	padding: 15px 71px;
	margin-bottom: 20px;
	cursor: pointer;
	font-family: "Roboto";
}

button.registry_edit {
	border: none;
	background: #ef4d1b;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	padding: 15px 71px;
	margin-bottom: 20px;
	cursor: pointer;
	font-family: "Roboto";
}

select {
	width: 378px;
	height: 46px;
	font-size: 16px;
	color: #838383;
	font-family: "Roboto Light";
	background: #FFF;
	padding-left: 10px;
	border: 2px solid #959595;
}

.contact_us_form_inner_main_upper.error label{
	color: red;
}
.contact_us_form_inner_main_upper.error input,
.contact_us_form_inner_main_upper.error select,
.contact_us_form_inner_main_upper.error textarea {
	border: 2px solid red;
}
	.add{
		width:100%;
		float:left;
		margin-top:-17px;
	}
	.refer_friend{
		width:100%;
	float:left;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:url(/images/refer-banner.jpg) no-repeat top center;
  height:310px;
	}
	.avilable_job_inner h3{
		width:100%;
		float:left;
		font-weight:normal;
		text-align:center;
		margin-top:30px;
		font-size:24px;
		color:#000;
		 font-family: "Roboto Medium";
	}
	.refer_form_main{
		width:100%;
		float:left;
		background:#f0f0f0;
		margin-top:56px;
		padding-top:25px;
	}
	.refer_form_main h1{
		width:100%;
		float:left;
		text-align:center;
		font-size:36px;
		color:#000;
		margin-bottom:32px;
		 font-family: "Roboto";
		 font-weight:normal;
	}
	.refer_form_main_left{
		width:562px;
		float:left;
		
	}
	.refer_form_main_left:last-child{
		float:right;
		border-left:1px solid #CCC;
		padding-left:28px;
	}
	.refer_form_main_left_upper{
		width:100%;
		float:left;
		margin-bottom:21px;
	}
	.refer_form_main_left_upper label{
		float:left;
		font-size:17px;
		color:#555555;
		margin-top:8px;
		 font-family: "Roboto";
		 text-align:left;
	}
	.refer_form_main_left_upper input[type='text'] {
		width:381px;
		float:right;
		height:46px;
		border:2px solid #adadad;
		color:#838383;
		font-size:16px;
		 font-family: "Roboto Light";
		 padding-left:7px;
		 border-radius:4px;
		  -moa-border-radius:4px;
		   -webkit-border-radius:4px;
	}
	.input {
		width:181px !important;
		float:left !important;
		margin-left:7px;
		height:46px;
		border:2px solid #adadad;
		color:#838383;
		margin-top:10px;
		font-size:16px;
		 font-family: "Roboto Light";
		 padding-left:7px;
		 border-radius:4px;
		  -moa-border-radius:4px;
		   -webkit-border-radius:4px;
	}
	.input_box{
		width:398px;
		float:right;
		
	}
	.submit_box{
		width:235px;
		margin:0 auto;
	}
	.submit_box input{
		float:left;
		background:#ef4d1b;
		font-size:20px;
		color:#FFF;
		text-transform:uppercase;
		padding:13px 92px;
		margin-top:50px;
		margin-bottom:45px;
		cursor:pointer;
		 font-family: "Roboto";
	}
	.main_form{
		width:100%;
		float:left;
	}
