
table.tablesorter thead tr .headerSortUp {
	background: url(asc.gif) no-repeat 80px 15px;
}
table.tablesorter thead tr .headerSortDown {
	background: url(desc.gif) no-repeat 80px 15px;
}

table .header{
	cursor: pointer;
}


table.tablesorterrecruiters thead tr .headerSortUp {
	background: url(asc.gif) no-repeat 160px 15px;
}
table.tablesorterrecruiters thead tr .headerSortDown {
	background: url(desc.gif) no-repeat 160px 15px;
}
