.margin_top_line{
    margin-top: 14px;
}

.margin_top_line_sm{
    margin-top: 8px;
}

.wrapper_for_button{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 140px;
    right: 10px;
}

.btn_remove {
    margin-top: 24px;
}
